body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1810%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1811%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1122 213L479 856' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1812%26quot%3b)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M916 567L1583 -100' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1813%26quot%3b)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M843 493L233 1103' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1812%26quot%3b)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M551 12L1300 -737' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1813%26quot%3b)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M270 178L-157 605' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1813%26quot%3b)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M964 439L641 762' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1813%26quot%3b)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1551 921L2270 202' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1813%26quot%3b)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1802 652L2085 369' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1813%26quot%3b)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M273 960L-335 1568' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1812%26quot%3b)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1150 329L1896 -417' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1812%26quot%3b)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M159 608L-258 1025' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1813%26quot%3b)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1232 43L626 649' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1813%26quot%3b)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M929 99L1571 -543' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1812%26quot%3b)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1044 404L302 1146' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1813%26quot%3b)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M526 36L1147 -585' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1813%26quot%3b)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M235 386L828 -207' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1813%26quot%3b)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1853 420L2563 -290' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1812%26quot%3b)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M554 192L1349 -603' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1812%26quot%3b)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M25 75L813 -713' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1812%26quot%3b)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1384 339L975 748' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1813%26quot%3b)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M856 260L306 810' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1813%26quot%3b)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1458 371L784 1045' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1813%26quot%3b)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M772 934L63 1643' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1812%26quot%3b)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M853 1013L260 1606' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1812%26quot%3b)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M814 291L68 1037' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1813%26quot%3b)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M92 1004L-444 1540' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1812%26quot%3b)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1714 1000L1307 1407' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1812%26quot%3b)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1442 153L1923 -328' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1813%26quot%3b)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M95 567L-545 1207' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1813%26quot%3b)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1555 341L943 953' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1812%26quot%3b)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M628 885L1327 186' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1813%26quot%3b)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1890 468L2477 -119' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1813%26quot%3b)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1914 522L2541 -105' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1813%26quot%3b)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1275 378L471 1182' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1812%26quot%3b)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1156 739L1456 439' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1813%26quot%3b)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M213 908L-376 1497' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1813%26quot%3b)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1374 291L2146 -481' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1812%26quot%3b)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M640 336L1361 -385' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1813%26quot%3b)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M838 796L1361 273' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1812%26quot%3b)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1548 175L1871 -148' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1812%26quot%3b)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1899 391L2328 -38' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1812%26quot%3b)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M206 456L-318 980' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1812%26quot%3b)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1367 663L1056 974' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1813%26quot%3b)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1022 342L1753 -389' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1812%26quot%3b)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M423 824L-80 1327' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1812%26quot%3b)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1328 72L866 534' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1813%26quot%3b)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1501 878L1798 581' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1813%26quot%3b)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1049 1005L1754 300' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1812%26quot%3b)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1092 79L1704 -533' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1812%26quot%3b)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1290 791L649 1432' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1812%26quot%3b)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1628 473L2284 -183' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1813%26quot%3b)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M55 271L556 -230' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1812%26quot%3b)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M627 623L981 269' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1812%26quot%3b)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1779 1071L2139 711' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1812%26quot%3b)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1646 254L2021 -121' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1813%26quot%3b)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M510 766L-205 1481' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1813%26quot%3b)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1810'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='50%25' x2='0%25' y2='50%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1811'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 0.97)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1812'%3e%3cstop stop-color='rgba(145%2c 6%2c 255%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(145%2c 6%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1813'%3e%3cstop stop-color='rgba(145%2c 6%2c 255%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(145%2c 6%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    
}
#checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: rgb(176, 92, 255);
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1,#bar3 {
    width: 70%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }
  button {
    --green: rgb(176, 92, 255);
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 1%, transparent 1000%,transparent 100% , rgba(0, 0, 0, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgb(176, 92, 255), 0 0 9px 3px rgba(27, 253, 156, 0.1);
  }
  
  button:hover {
    color: rgb(176, 92, 255);
    box-shadow: inset 0 0 10px rgb(176, 92, 255), 0 0 9px 3px rgba(27, 253, 156, 0.2);
  }
  
  button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgb(176, 92, 255) 40%,rgb(176, 92, 255) 60% , transparent 100%);
  }
  
  button:hover:before {
    transform: translateX(15em);
  }
  header {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button-container {
    flex-direction: row;
    align-items: center;
}
.button-container button {
    margin: 10px; /* Voeg wat ruimte tussen de knoppen toe als dat nodig is */
}
nav {
    margin: 27px auto 0;
    position: relative;
    width: 590px;
    height: 50px;
    background-color: #000000;
    border-radius: 8px;
    font-size: 0;
  }
  nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
  }
  a:nth-child(1) {
    width: 100px;
  }
  a:nth-child(2) {
    width: 110px;
  }
  a:nth-child(3) {
    width: 100px;
  }
  a:nth-child(4) {
    width: 160px;
  }
  a:nth-child(5) {
    width: 120px;
  }
  nav .start-home, a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: rgb(176, 92, 255);
  }
  nav .start-about, a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background-color: rgb(176, 92, 255);
  }
  nav .start-blog, a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
    background-color: rgb(176, 92, 255);
  }
  nav .start-portefolio, a:nth-child(4):hover~.animation {
    width: 160px;
    left: 310px;
    background-color: rgb(176, 92, 255);
  }
  nav .start-contact, a:nth-child(5):hover~.animation {
    width: 120px;
    left: 470px;
    background-color: rgb(176, 92, 255);
  }
  
  p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(176, 92, 255);
    font-size: 40px;
  }